html {
    background: #444444;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 70px;
    padding: 40px;
    color: black;
    border-top: 10px solid black;
    background: #fff;
}
h1{
    font-size: 3em;
    margin: 0;
    color: rgb(223, 223, 223);
    text-shadow: 1px 2px 2px darkgray;
}

p{
    line-height: 1.5em;
}

.hobbies {
    margin-left: 80px;
}

#Blog {
    border-top: 1px dotted rgb(95, 95, 95);
    display: flex;
}

.BlogPost{
    border-bottom: 1px dotted rgb(95, 95, 95);
    padding: 20px;
    margin: 20px;
}


label {
    text-shadow: 1px 2px 2px rgb(109, 109, 109);
}
#links {
    font-size: 1em;
    color:rgb(41, 41, 41);

}
h2{
    text-shadow: 1px 2px 2px darkgray;
    color: rgb(41, 41, 41);
    
}
h3{
    text-shadow: 1px 2px 2px darkgray;
    color: rgb(41, 41, 41);
}

header {
    position: sticky;
    background: rgb(107, 110, 112);
    top: 0px;
}

.RaresPic {
    float: left;
    margin-right: 20px;
}