html {
    background: #e3e3e3;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 40px;
    color: black;
    border-top: 10px solid black;
}
h1{
    font-size: 3em;
    margin: 0;
}

p{
    line-height: 1.5em;
}

#Blog {
    border-top: 1px dotted #ccc;
}

.BlogPost{
    border-bottom: 1px dotted #ccc;
}