html {
    background: #444444;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 75px;
    padding: 40px;
    color: black;
    border-top: 10px solid black;
    background: #fff;
}
h1{
    font-size: 3em;
    margin: 0;
    color: rgb(41, 41, 41);
    text-shadow: 1px 2px 2px darkgray;
}

p{
    line-height: 1.5em;
}

#Blog {
    border-top: 1px dotted rgb(95, 95, 95);
}

.BlogPost{
    border-bottom: 1px dotted rgb(95, 95, 95);
}
label {
    text-shadow: 1px 2px 2px rgb(109, 109, 109);
}
#links {
    font-size: 1em;
    color:rgb(41, 41, 41);

}
h2{
    text-shadow: 1px 2px 2px darkgray;
    color: rgb(41, 41, 41);
    
}
h3{
    text-shadow: 1px 2px 2px darkgray;
    color: rgb(41, 41, 41);
}