html {
    background: #e3e3e3;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 60px;
    padding: 60px;
    color: black;
    border-top: 10px solid black;
    background: #fff;
}
h1{
    font-size: 3em;
    margin: 0;
    color: darkgray;
}

p{
    line-height: 1.5em;
}

#Blog {
    border-top: 1px dotted rgb(95, 95, 95);
}

.BlogPost{
    border-bottom: 1px dotted rgb(95, 95, 95);
}
label {
    text-shadow: 1px 2px 2px grey;
}
#links {
    font-size: 1em;
    color:darkgray;
}
h2{
    text-shadow: rgb(19, 19, 19);
    color: darkgray;
}